<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Fighters
        </title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" href="../../public/img/tailwindcss-mark.d52e9897.svg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    </head>
    <body class="bg-gray-100">
        {% include 'inc/nav.html.twig' %}
        <div class="max-h-screen flex flex-wrap gap-12 justify-center items-center py-12 bg-gray-50">
            {% for fighter in fighters %}
                <div class="relative bg-white shadow-xl rounded-3xl p-6 w-80 text-center border border-blue-300 transition-all transform hover:scale-105 hover:shadow-2xl hover:bg-blue-50 hover:border-blue-500">
                    <div class="absolute top-0 right-0 flex justify-center items-center h-16 w-16 p-2">
                        <img src="../../public/img/Experience_Orb.png" alt="Boule d'expérience de niveau {{ fighter.niveau }}" class="w-12 h-12 object-cover">
                        <p class="absolute text-xl font-bold text-blue-700">
                            {{ fighter.niveau }}
                        </p>
                    </div>
                    <h2 class="text-2xl font-bold text-blue-700">
                        {{ fighter.nom }}
                    </h2>
                    <p class="text-blue-600 mt-2">
                        Force:
                        <span class="font-semibold text-blue-800">
                            {{ fighter.force }} 🦾
                        </span>
                    </p>
                    <p class="text-blue-600">
                        Santé:
                        <span class="font-semibold text-red-600">
                            {{ fighter.sante }} ❤️
                        </span>
                    </p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
